<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ProgressBarConcatActivity" />
        <activity
            android:name=".ProgressBarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SetStartTimeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AddVideosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductionScreenActivity"
            android:label="@string/title_activity_production"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".FFMpegService"
            android:enabled="true" />
        <service
            android:name=".TrimAndConcatService"
            android:enabled="true" />
    </application>

</manifest>