<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MultiCamPack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.MultiCamPack.MainScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MultiCamPack.PlayMergedVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MultiCamPack.ListOfMergedVideosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MultiCamPack.ProgressBarConcatActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.MultiCamPack.ProgressBarActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.MultiCamPack.SetStartTimeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.MultiCamPack.AddVideosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MultiCamPack.SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.MultiCamPack.ProductionScreenActivity"
            android:label="@string/title_activity_production"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.MultiCamPack.FFMpegService"
            android:enabled="true" />
        <service
            android:name="com.MultiCamPack.TrimAndConcatService"
            android:enabled="true" />
    </application>

</manifest>